# Python compiled files
*.pyc
__pycache__/

# Environment and package files
.env
env/
venv/
*.egg-info/
Pipfile
Pipfile.lock

# Cache directory
cache/
movies/
ssl/

# Docker related files
*.log
.dockerignore

# System-specific files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Flask related files
instance/
